@model IEnumerable<Department>
@{
    ViewData["Title"] = "Index";
}

<h1>All Departments</h1>


<a asp-controller="Department" asp-action="Create" class="btn btn-outline-primary my-3">
    Create New Department
</a>

<div class="m-auto w-75">


    @if(Model.Count()>0){
    <table class="w-100 table-striped table-hover p-4 text-center">

        
    <tr class="p-4">
        <th>
            @Html.DisplayNameFor(d=>d.Code)
        </th>

            <th>
                @Html.DisplayNameFor(d => d.Name)
            </th>

            <th>
                @Html.DisplayNameFor(d => d.DateOfCreation)
            </th>

            <th>
                Details 
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
    </tr>

            @foreach(var department in Model)
            {
                <tr class="p-4">
                    <td>
                        @department.Code
                    </td>

                    <td>
                        @department.Name
                    </td>

                    <td>
                        @department.DateOfCreation
                    </td>

                    <partial name="buttonsIndexPartial" model="department.Id">

                    </partial>
                    

               
                </tr>
            }



</table>
    }

    else{
        <div class="mb-auto alert-dark ">
                <h3 class="text-center p-4">
                    There are no departments
                </h3>
        </div>
    }


</div>

